/* 字體custom*/
:root {
    /* --font-size: 1.1rem; */
    /* 基準字體大小 */
    font-size: 1.2rem;
    /* 或者 20px */
}

/* 平滑滾動 */
:root {
    scroll-behavior: smooth;
}

/* 導覽列 */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    /* 當使用者將滑鼠移到「正法眼藏」，下拉選單就會自動展開，不需要點擊 */
}

/* 讓 Carousel 疊在 Navbar 之後 */
header.carousel {
    position: relative;
    z-index: 0;
    /* 低於 navbar，避免蓋住 */
}

/* Navbar 設定較高的 z-index */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1050;
    /* Bootstrap 預設 navbar z-index 為 1050 */
}

/* 讓 Carousel 佔滿整個螢幕 */
.carousel img {
    height: 100vh;
    /* 讓圖片全螢幕 */
    object-fit: cover;
    /* 確保圖片完整覆蓋 */
}

.nav-item.border-start {
    border-color: rgba(255, 255, 255, 0.5) !important;
    /* 白色邊框 + 50% 透明度 */
}

/* 搜尋欄 */
.form-select,
.form-control,
.btn-search {
    border: none;
    box-shadow: none;
}

.form-select {
    max-width: 200px;
    border-right: 1px solid #D1BFA7;
    background-color: var(--bs-gray-700);
    /* 使用 Bootstrap 主要色 */
    color: white;
}

.searchbar {
    background-image: url("/assets/img/Index_D_Vector_1.png");
    background-position: right 120px center;
    background-repeat: no-repeat;
}